@charset "utf-8";
/* CSS Document */

#ca-feedback {
	float:right;
	cursor:pointer;
}

/*

#ca-feedback > a {
	cursor:pointer;	
}

#FeedbackUsForm {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	width: 305px;
	height: 405px;
	opacity: 0;
	z-index:1000;
	padding: 5px 10px 10px 10px;
	font-size: 0.8rem;
	font-weight:normal;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
	color: #ffffff; 
	background-color: #464139; 
}


#FeedbackUsForm h3 {
	color:white;	
}


#FeedbackUsComment {
	font-family: Arial, Helvetica, sans-serif;
	width: 305px;
	height: 100px;
	border: 1px solid #BCBCBC;
	padding: 5px;
	color: #252525;
	font-size: 0.9rem;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
#FeedbackUsComment:focus {outline:0;}

#FeedbackUsEmail {
	margin-bottom: 20px;
	display:block;
	width:220px;
	border: 1px solid #BCBCBC;
	border-top-width:0px;
	padding: 2px 5px;
	color: #252525;
	font-size: 0.9rem;
}
#FeedbackUsEmail:focus {outline:0;}

ul#FeedbackUsOptions {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#FeedbackUsOptions li {
	margin: 0;
	padding: 0;
	clear:both;
}

#FeedbackUsOptions li label{
	float:left;
	width:280px;
}
#FeedbackUsOptions li input{
	float:left;
	margin-right:5px;
	background-color:white;
}


#FeedbackUsCancelButton {
	font-size: 1rem;
	color: #ffffff;
	text-align:right;
	margin-bottom:15px;
	cursor: pointer;
	text-decoration: underline;
}


#fuMenu {
	margin-top:15px;	
}

#as_star {
	margin:-4px 3px 0px 0px;
}
#as_sel {
	margin-top:7px;
	boder:1px solid #999;
	color: #1c252b;
	outline:0;
}
#as_sel:focus {outline:0;}


::-webkit-input-placeholder { 
    color: #999;
    font-size: 0.9rem important!;
    font-family: Arial, Helvetica, sans-serif;
}
:-moz-placeholder {
   color: #999;
   opacity: 1;
   font-size: 0.9rem important!;
   font-family: Arial, Helvetica, sans-serif;
}
::-moz-placeholder {
   color: #999;
   opacity: 1;
   font-size: 0.9rem important!;
   font-family: Arial, Helvetica, sans-serif;
}
:-ms-input-placeholder {
   color: #999;
   font-size: 0.9rem important!;
   font-family: Arial, Helvetica, sans-serif;
}

.FeedbackUsSendButton {
	float:right;
	outline:none;
	margin-top:5px;
	margin-left:205px;
	padding:5px;

	background-color: #5b6c74;
	color: #fff;
	border: 1px solid #5b6c74;
	text-shadow: 0 1px rgba(91, 108, 116, 0.1);
	font-size: 1rem;
}
*/