#ca-feedback {
	float:right;
	cursor:pointer;
	position: relative;
	bottom: 5px;
}

#fbuModal .modal-header {
	background-color:#007bff;
}

#fbuModal .close {
	color: #fff;
	border: 0;
	opacity: 1;
	background-color: transparent;
	font-size: 24px;
	font-weight: bold;
}
